@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --primary-color: #FCDA01;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --button-color: #EE4848;
    --text-color: #5C3551;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: black;
    line-height: 1.6;
}

ul {
    list-style-type: none; /* Remove the dot */
}

a {
    text-decoration: none; /* delete underline in a */
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    /* margin: 10px 0; */
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, 
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    padding: 10px;
    margin: 0 5px;
    font-weight: 900;
}

.navbar a:hover {
    border-bottom: 2px var(--button-color) solid;
}

.navbar .flex {
    justify-content: space-between; 
    /* make the navbar to the leftside */
}

/* Showcase */
.showcase {
    height: 500px;
    background-color: #faf5f8;
    color: black;
    position: relative; /* ?? */
}

.showcase h1 {
    /* margin-top: 50px; */
    font-size: 38px;
}

.showcase p {
    margin: 26px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 450px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before, 
.showcase::after {
    content: '';
    position:absolute;
    height: 90px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Stats */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* cli */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* languages */
.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Overlay */
.container-overlay {
    position: relative;
    width: auto;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 85px;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__title {
    font-size: 1.5em;
}

/* .container-overlay:hover {
    opacity: 0.2;
} */

.text-bread {
    width:340px;
    height:100px;
    background:#FFF;
    opacity:0;
  }

.container-overlay:hover .text-bread
  {
    opacity:0.6;
    text-align:justify;
    color:#000000;
    font-size:20px;
    font-weight:700;
    font-family:"Times New Roman", Times, serif;
    padding:30px;
  }

/* features */
.features-head img,
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width:  300px;
    justify-self: flex-end;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Docs  */
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

.features-main .card > i {
    margin-right: 20px;
}

/* footer */
.footer .social a {
    margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBotton {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Tablets and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid, 
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;

    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin:  auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 150px;
    }
    
    .navbar img {
        margin-left: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);

    }
}

/* Utilities */
.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
}

.stats-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    /* background: var(--button-color); */
    /* color: #fff; */
    color: black;
    border:none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--primary-color) solid;
}

.btn:hover {
    transform: scale(1.1);
}

/* background & colored buttons */
.bg-primary, .btn-primary {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: black;
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: white;
}

.bg-primary a, 
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
    color: var(--button-color);
}

/* Text Colors */
.text-primary {
    color: var(--primary-color);
    /* color: white; */
}

.text-secondary {
    color: var(--dark-color);
    /* color: var(--secondary-color); */
    /* color: white; */
}

.text-light {
    color: var(--light-color);
}

.text-dark {
    color: var(--dark-color);
    /* color: white; */
}

/* Text Sizes */
.lead {
    font-size: 20px;

}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
    align-self: center;
    /* align-items: center; */
}

/* Alert */
.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;

}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: #fff;
}

.alert-error {
    background-color: var(--error-color);
    color: #fff;
}

.flex {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-image div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-image {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(100px, 6fr)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    /* grid-auto-rows: 400px; */
}

.horizontal {
    grid-column: auto / span 2;
}

.vertical {
    grid-row: auto / span 2;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}